---
import Layout from '../layouts/Layout.astro';
import { Bars3Icon, UserIcon, MagnifyingGlassIcon, MapPinIcon, HeartIcon, ShoppingBagIcon } from "@heroicons/vue/24/outline";
import Navbar from "../components/Navbar.astro";
import Carousel from "../components/Carousel.vue";
---

<Layout title="Welcome to Astro.">
	<Navbar></Navbar>

	<main>
		<h1>Welcome to <span class="text-gradient">the Store!</span></h1>
		<div class="w-full">
			<Carousel client:only="vue" />
		</div>

	</main>
</Layout>

<style>

</style>
