---
import Layout from '../layouts/Layout.astro';
import { ProductData } from '../types/types';
import { Product } from '../types/types';
import DealOfTheMonth from '../components/DealOfTheMonth.astro';
const limit = 20;
const ApiResp = await fetch(`https://dummyjson.com/products?limit=${limit}`);
const productsData: ProductData = await ApiResp.json();
const products: Product[] = productsData.products;
---

<Layout title='Welcome to Astro.'>
  <main>
    <DealOfTheMonth products={products} pageNumber={1} />
  </main>
</Layout>

<style>
    html {
        font-family: Arial, sans-serif;
    }

    body {
        margin: 0;
    }
</style>
