---
import {Bars3Icon} from "@heroicons/vue/24/outline";

const ApiResp = await fetch(`https://ecommerce-dummy-json.vercel.app/products/categories`);
const categories: string[] = await ApiResp.json();
---

<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="my-drawer" class="btn btn-square drawer-button">
      <Bars3Icon></Bars3Icon>
    </label>
  </div>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
      <li class="text-2xl menu-title">Categories</li>
      {categories.map(category => (
          <li><a href=`/products/categories/${category}/1`>{category}</a></li>
      ))}
    </ul>
  </div>
</div>
