---
import {
  Bars3Icon,
  HeartIcon,
  MagnifyingGlassIcon,
  MapPinIcon,
  ShoppingBagIcon,
  UserIcon,
} from '@heroicons/vue/24/outline';
import Drawer from './Drawer.astro';
import { isLoggedIn } from "../utils/isLoggedIn";
const cookie = Astro.request.headers.get('cookie');
const username = isLoggedIn(cookie);
if(!username) {
  /*  Astro.response.headers.set('location', '/login');
    Astro.response.status = 302;*/

}
---

<div class='navbar bg-base-100 sticky left-0 top-0 w-full fixed z-10'>
  <div class='flex-none'>
    <Drawer></Drawer>
  </div>
  <div class='flex-1'>
    <a class='btn btn-ghost normal-case text-xl' href={`/`}>Example Store</a>
  </div>
  <div class='flex-none'>
    <div> {username ? 'Welcome ' + username : '' }</div>
    <a id="userbtn" aria-label="User" class='btn btn-square btn-ghost' href="/login">
      <UserIcon></UserIcon>
    </a>
    <button id="magniftybtn" aria-label="Magnify" class='btn btn-square btn-ghost'>
      <MagnifyingGlassIcon></MagnifyingGlassIcon>
    </button>
    <button id="mappinbtn" aria-label="MapPin" class='btn btn-square btn-ghost hidden md:block'>
      <MapPinIcon></MapPinIcon>
    </button>
    <button id="hearticonbtn" aria-label="Heart" class='btn btn-square btn-ghost'>
      <HeartIcon></HeartIcon>
    </button>
    <button id="shoppingbtn" aria-label="Shopping" class='btn btn-square btn-ghost'>
      <ShoppingBagIcon></ShoppingBagIcon>
    </button>
  </div>
</div>
