---
import Layout from '../../layouts/Layout.astro';
import { Product } from '../../types/types';
import ProductDetails from '../../components/ProductDetails.astro';
import {getUserData} from "../../utils/getUserData";

const { page, id } = Astro.params;
if(!Number.isInteger(parseInt(id))) {
  return Astro.redirect(`/products/1`);
}
const productData: Product = await fetch(`https://ecommerce-dummy-json.vercel.app/products/${id}`).then((res) => res.json());
const cookie = Astro.cookies.get('userData').value;
const userData = getUserData(cookie);

const auth = userData !== null;

---

<Layout title='Product Details'>
  <div class='m-8'>
    <ProductDetails product={productData} auth={auth}></ProductDetails>
  </div>
</Layout>
