---
import Layout from '../../layouts/Layout.astro';
import { Product } from '../../types/types';
import ProductDetails from '../../components/ProductDetails.astro';
const { id } = Astro.params;
const productData: Product = await fetch(`https://dummyjson.com/products/${id}`).then((res) => res.json());
console.log(productData);
---

<Layout title='Product Details'>
  <div class='m-8'>
    <ProductDetails product={productData}></ProductDetails>
  </div>
</Layout>
